rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /vehiculos/{userId}/{fileName} {
      allow read, write: if signedIn() && request.auth.uid == userId;
    }

    match /estados-cuenta/{userId}/{fileName} {
      allow read, write: if signedIn() && request.auth.uid == userId;
    }
  }
}
