@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Ocultar scrollbar pero permitir scroll */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}